################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/DirectoryReader/v16
/DirectoryReader/bin/Debug
/DirectoryReader/obj/Debug
